.Input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Input label {
    margin-bottom: 10px;
}

.Input input {
    border: none;
    border-bottom: 1px solid #47e7eb;
    text-transform: capitalize;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.Input input:focus {
    outline: none;
}
