.Form {
    margin: 0 auto;
    box-shadow: 3px 9px 50px 8px rgba(124,209,235,0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Form h3 {
    padding-left: 20px;
}

.Form section {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px;
    transition-timing-function: ease-in-out;
    transition: 0.25s;
    transform: translateX(0);
}

.Form .BtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Form .Labels {
    margin: 0;
    margin-bottom: 20px;
}

.Link {
    text-decoration: none;
    color: gold;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 700px) {
    .Form {
        width: 400px;
        height: 100vh;
        border: none;
        display: flex;
        flex-direction: column;
        margin: 20px;
        box-shadow: none;
    }
}

@media (min-width: 1000px) and (min-height: 701px) {
    .Form {
        width: 50%;
        height: 100%;
        border-radius: 10px;
        margin-top: 12%;
        display: flex;
        flex-direction: column;
        box-shadow: 3px 9px 50px 8px rgba(124,209,235,0.5);
    }
}

@media (min-width: 700px) and (min-height: 1000px) {
    .Form {
        width: 400px;
        height: 600px;
        border-radius: 10px;
        margin-top: 12%;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 701px) {
    .Form {
        width: 400px;
        height: 600px;
        border-radius: 10px;
        margin-top: 20vh;
        justify-content: space-around;
    }
}

@media (min-width: 1200px)  {
    .Form {
        display: flex;
        flex-direction: column;
        box-shadow: 3px 9px 50px 8px rgba(124,209,235,0.5);
    }
}


