.Select {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    padding: 10px 0;
    border-bottom: 1px solid #47e7eb;
}

.Select:focus {
    outline: none;
}
.Select:hover {
    cursor: pointer;
}
