.Button {
    width: 90px;
    height: 35px;
    border-radius: 5px;
   border: 1px solid transparent;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin:  20px 0;

    background: rgb(71, 231, 235);
    box-shadow: 6px 4px 114px -12px rgba(71,232,235,0.5);
    color: white;
}

.Button:hover {
    cursor: pointer;
}

.Button:focus {
    outline: none;
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0ED2F7, #47e7eb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0ED2F7, #47e7eb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
