.Feedback {
    margin: 0 auto;
}
.Gradiented{
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0785b4, #2f9ab4, #47e7eb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0785b4, #2f9ab4, #47e7eb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
