.Checkbox input[type="checkbox"] {
    margin: 0;
    margin-right: 10px;
    background-color: transparent;
    border: .0625em solid rgb(26, 175, 191);
    box-shadow: inset 0 0 0 0 white;
    cursor: pointer;
    font: inherit;
    height: 1em;
    outline: none;
    width: 1em;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.Checkbox input[type="checkbox"]:checked {
    background-color: white;
    box-shadow: inset 0 0 0 .1875em #47d1da;
    -webkit-transition: background .15s, box-shadow .1s;
    transition: background .15s, box-shadow .1s;
}

.Container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.Checkbox {
    border: none;
    width: 100%;
    height:auto;
    height:auto;
    display: flex;
    flex-direction: column;
}


.Checkbox label {
    height: 30px;
}



