@import url('https://fonts.googleapis.com/css?family=Raleway');

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  transition-timing-function: ease-in-out;

  transition: 0.25s;
  transform: translateX(0);
}
